<form method="post" action="{{ path('status_delete', {'idPub': status.idPub}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ status.idPub) }}">
    <button class="btn">Delete</button>
</form>
