<form method="post" action="{{ path('centre_delete', {'idCentre': centre.idCentre}) }}" onsubmit="return confirm('voulez-vous vraiment supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ centre.idCentre) }}">
    <button class="btn"><i style="color:red;" class="align-middle" data-feather="trash-2"></i></button>
</form>
