{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Ajouter') }}<i class="align-middle" data-feather="plus"></i></button>
{{ form_end(form) }}
