{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <!-- Start of .header-bottom -->
    <header class="header-bottom">
        <!-- Start of .header-bottom .header-bottom__banner -->
        <div class="header-bottom__banner owl-carousel owl-theme">

            <div class="slide-item">
                <img src="./images/Testimage/6BD288D6-CD99-46E8-B8AD-D9C088CF3335.JPG">
                <div class="slide-item__bg">
                    <div class="icon">
                        <img src="./images/banner/banner-shape.png">
                    </div>
                </div>
                <div class="container">
                    <div class="slide-item__block">
                        <h1 class="slide-item__title">Multidisciplinary <span>Medical<br>Center</span> in new york
                        </h1>
                        <h4 class="slide-item__subtitle">30% discount on full examination</h4>
                        <a href="departments-details_right.html" class="btn btn_blue">BOOK A CONSULTATION</a>
                    </div>
                </div>
            </div>

            <div class="slide-item">
                <img src="./images/Testimage/75D903C1-6162-48AE-9ACC-FFAE3BC36A78.JPG">
                <div class="slide-item__bg">
                    <div class="icon">
                        <img src="./images/banner/banner-shape.png">
                    </div>
                </div>
                <div class="container">
                    <div class="slide-item__block">
                        <h1 class="slide-item__title">Multidisciplinary <span>Medical<br>Center</span> in new york
                        </h1>
                        <h4 class="slide-item__subtitle">30% discount on full examination</h4>
                        <a href="#" class="btn btn_blue">BOOK A CONSULTATION</a>
                    </div>
                </div>
            </div>

            <div class="slide-item">
                <img src="./images/Testimage/A20040AD-0529-4B55-9F37-F7B5BC57F11B.JPG">
                <div class="slide-item__bg">
                    <div class="icon">
                        <img src="./images/banner/banner-shape.png">
                    </div>
                </div>
                <div class="container">
                    <div class="slide-item__block">
                        <h1 class="slide-item__title">Multidisciplinary <span>Medical<br>Center</span> in new york
                        </h1>
                        <h4 class="slide-item__subtitle">30% discount on full examination</h4>
                        <a href="#" class="btn btn_blue">BOOK A CONSULTATION</a>
                    </div>
                </div>
            </div>

            <div class="slide-item">
                <img src="./images/Testimage/C9291306-A81A-4BB2-AAEE-C136EE3A96B0.JPG">
                <div class="slide-item__bg">
                    <div class="icon">
                        <img src="./images/banner/banner-shape.png">
                    </div>
                </div>
                <div class="container">
                    <div class="slide-item__block">
                        <h1 class="slide-item__title">Multidisciplinary <span>Medical<br>Center</span> in new york
                        </h1>
                        <h4 class="slide-item__subtitle">30% discount on full examination</h4>
                        <a href="#" class="btn btn_blue">BOOK A CONSULTATION</a>
                    </div>
                </div>
            </div>

        </div>
        <!--  End of .header-bottom__banner -->

        <!-- Start of .header-bottom .services -->
        <div class="services">
            <div class="container">
                <div class="services__items owl-carousel owl-theme">

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="49" height="53" viewBox="0 0 49 53">
                                    <path id="service-icon1.svg" class="cls-2"
                                          d="M1804.82,1343.67a2.32,2.32,0,1,1,2.32,2.3A2.309,2.309,0,0,1,1804.82,1343.67Zm31.99,6.43a1.717,1.717,0,0,1-1.51.89h-40.22a1.729,1.729,0,0,1-1.46-.81,1.674,1.674,0,0,1-.07-1.65l2.01-3.98a15.428,15.428,0,0,1-7.5-12.13c-0.53-6.71,2.86-13.48,9.12-18.37l-2.93-4.3a1.652,1.652,0,0,1-.26-1.28,1.676,1.676,0,0,1,.74-1.08l7.69-5.01a1.711,1.711,0,0,1,2.33.44l16.11,22.32a1.7,1.7,0,0,1,.29,1.27,1.649,1.649,0,0,1-.7,1.1l-7.64,5.36a1.727,1.727,0,0,1-2.36-.36l-4.02-5.32a5.744,5.744,0,0,1-2.34.5,5.853,5.853,0,0,1-2.1-.4,4.588,4.588,0,0,0-.46,5.6c1.84,2.9,6.66,4.85,11.62,3.18l12-8.36a1.72,1.72,0,0,1,2.38.41,1.679,1.679,0,0,1-.41,2.36l-12.2,8.5a1.9,1.9,0,0,1-.4.21,14.938,14.938,0,0,1-5.01.87c-4.76,0-8.95-2.33-10.88-5.37a7.9,7.9,0,0,1,.67-9.52,5.629,5.629,0,0,1-1-3.21,5.785,5.785,0,0,1,11.57,0,5.584,5.584,0,0,1-.86,2.99l3.18,4.2,4.88-3.42-14.15-19.62-4.86,3.17,2.88,4.21a1.688,1.688,0,0,1-.44,2.34c-6.12,4.25-9.49,10.35-9.02,16.32a12.084,12.084,0,0,0,7.1,10.18,1.681,1.681,0,0,1,.87.98,1.635,1.635,0,0,1-.09,1.3l-1.51,2.99h33.7c-1.55-1.45-3.76-2.95-6.23-2.95h-9.66a1.711,1.711,0,0,1-1.64-1.19,1.684,1.684,0,0,1,.68-1.9l13.81-9.27a1.716,1.716,0,0,1,2.38.45,1.683,1.683,0,0,1-.46,2.35l-9.19,6.17h4.08c6.59,0,11.21,6.81,11.41,7.1A1.722,1.722,0,0,1,1836.81,1350.1Zm-32.72-30.47a2.335,2.335,0,1,0,2.36,2.33A2.345,2.345,0,0,0,1804.09,1319.63Zm-2.52-18.52-7.69,5.01a1.792,1.792,0,0,1-.94.27,1.711,1.711,0,0,1-1.44-.76,1.691,1.691,0,0,1,.5-2.35l7.69-5a1.728,1.728,0,0,1,2.37.49A1.675,1.675,0,0,1,1801.57,1301.11Z"
                                          transform="translate(-1788 -1298)" /></svg>
                            </div>
                            <h1 class="services__item-title">diagnostics</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="57" height="49" viewBox="0 0 57 49">
                                    <path id="service-icon2.svg" class="cls-2"
                                          d="M2116.36,1324.55a1.834,1.834,0,0,1-1.59-.95,1.9,1.9,0,0,1,.69-2.54,47.332,47.332,0,0,0,15.79-14.62,1.8,1.8,0,0,1,2.54-.46,1.888,1.888,0,0,1,.45,2.6,51.746,51.746,0,0,1-16.98,15.73A1.868,1.868,0,0,1,2116.36,1324.55Zm20.83-24.64a1.821,1.821,0,0,1-1.75-2.39,10.865,10.865,0,0,0-2.16-9.58c-2.23-2.46-4.68-3.65-7.31-3.59-3.55.11-7.53,2.56-10.91,6.73a1.807,1.807,0,0,1-2.57.25,1.907,1.907,0,0,1-.24-2.63c4.05-5,9.01-7.94,13.61-8.07,3.73-.12,7.12,1.49,10.09,4.77a14.717,14.717,0,0,1,2.99,13.18A1.839,1.839,0,0,1,2137.19,1299.91Zm-50.7-.15a1.839,1.839,0,0,1-1.78-1.45c-1.14-5.08-.13-9.66,2.82-12.91a13.345,13.345,0,0,1,11.72-4.58,1.855,1.855,0,0,1,1.62,2.05,1.823,1.823,0,0,1-2.01,1.65,9.763,9.763,0,0,0-8.65,3.42c-2.11,2.32-2.8,5.7-1.94,9.54a1.869,1.869,0,0,1-1.37,2.23A2,2,0,0,1,2086.49,1299.76Zm25.45,27.23a1.846,1.846,0,0,1-.81-0.19,68.609,68.609,0,0,1-22.39-18.33,1.879,1.879,0,0,1,.32-2.61,1.8,1.8,0,0,1,2.56.33,64.744,64.744,0,0,0,21.14,17.26,1.885,1.885,0,0,1,.82,2.5A1.827,1.827,0,0,1,2111.94,1326.99Zm1.34-11.24c-3.38,0-4.15-4.97-5.49-19.18-0.38-4.07-.91-9.67-1.57-12.85-0.51,2.82-.82,7.52-1.02,10.68-0.66,10.16-1.04,14.29-3.97,14.56-2.85.25-4.13-2.37-4.74-4.28h-10.67a1.865,1.865,0,0,1,0-3.73h12.04a1.824,1.824,0,0,1,1.76,1.39l0.03,0.11a10.721,10.721,0,0,0,.81,2.34c0.55-2.11.87-7.13,1.1-10.64,0.71-10.91,1.2-16.15,4.68-16.15,3.33,0,3.96,5.25,5.18,18.21,0.44,4.63,1.05,11.12,1.85,14.31,0.56-1.72,1.16-4.27,1.61-6.17,1.75-7.45,2.72-11.02,5.39-11.02,2.57,0,3.2,3.13,3.94,6.76a33.921,33.921,0,0,0,.89,3.73c0.03-.04.05-0.08,0.08-0.12a4.759,4.759,0,0,1,4.26-2.75h9.74a1.866,1.866,0,0,1,0,3.73h-9.74c-0.51,0-.63.11-1.17,0.99a3.951,3.951,0,0,1-3.44,2.36c-2.75,0-3.45-3.49-4.2-7.18-0.12-.64-0.29-1.47-0.47-2.22-0.62,1.86-1.28,4.67-1.74,6.6C2116.7,1312.52,2115.83,1315.75,2113.28,1315.75Z"
                                          transform="translate(-2084 -1278)" /></svg>
                            </div>
                            <h1 class="services__item-title">Cardiology</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="53.03" height="44" viewBox="0 0 53.03 44">
                                    <path id="service-icon3.svg" class="cls-2"
                                          d="M2421.76,1346a3.507,3.507,0,0,1-1.17-.2c-2.79-.97-3.24-4.42-3.73-8.07-0.66-4.93-1.29-7.12-3.34-7.12a1.665,1.665,0,1,1,0-3.33c5.37,0,6.14,5.79,6.7,10.02,0.26,1.9.68,5.08,1.51,5.37h0a3.451,3.451,0,0,0,1.95-.93c4.64-3.34,12.09-14.39,12.88-22.81a14.03,14.03,0,0,0-2.99-10.61,8.62,8.62,0,0,0-6.11-3.01c-2.33-.13-5.2.71-7.95,1.63a1.708,1.708,0,0,1-2.16-1.04,1.656,1.656,0,0,1,1.06-2.11c3.55-1.19,6.49-1.94,9.24-1.8a11.97,11.97,0,0,1,8.49,4.16,17.3,17.3,0,0,1,3.8,13.09c-0.94,10.03-9.57,22.28-14.93,25.64A6.185,6.185,0,0,1,2421.76,1346Zm-16.47,0a6.215,6.215,0,0,1-3.26-1.12c-5.36-3.36-13.99-15.61-14.92-25.64-0.44-4.72.75-8.94,3.36-11.9a12.448,12.448,0,0,1,8.93-4.18,18.406,18.406,0,0,1,5.63.71c1.97,0.5,3.72,1.14,5.58,1.81a42.83,42.83,0,0,0,15.06,3.15,1.666,1.666,0,1,1-.08,3.33,46.47,46.47,0,0,1-16.15-3.36c-1.78-.64-3.46-1.25-5.27-1.71a15.182,15.182,0,0,0-4.58-.61,9.141,9.141,0,0,0-6.56,3.03c-2,2.27-2.9,5.61-2.54,9.42,0.78,8.42,8.23,19.47,12.87,22.81a3.691,3.691,0,0,0,1.96.93c0.88-.31,1.39-3.62,1.7-5.59,0.67-4.37,1.51-9.8,6.5-9.8a1.665,1.665,0,1,1,0,3.33c-1.93,0-2.52,2.89-3.15,6.96-0.57,3.73-1.12,7.26-3.92,8.23A3.492,3.492,0,0,1,2405.29,1346Z"
                                          transform="translate(-2387 -1302)" /></svg>
                            </div>
                            <h1 class="services__item-title">Dental</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="50" height="38.03" viewBox="0 0 50 38.03">
                                    <path id="service-icon4.svg" class="cls-2"
                                          d="M2737.41,1325.56a1.6,1.6,0,0,1-1.6-1.49c-0.04-.67-0.54-1.54-1.57-3.11-5.75-8.74-12.18-12.8-20.24-12.8a1.59,1.59,0,1,1,0-3.18c9.11,0,16.6,4.65,22.91,14.24,1.21,1.83,2.01,3.14,2.1,4.66a1.59,1.59,0,0,1-1.5,1.68h-0.1Zm-46.81,0h-0.1a1.59,1.59,0,0,1-1.5-1.68c0.09-1.52.89-2.83,2.09-4.66,6.31-9.59,13.81-14.24,22.91-14.24a1.59,1.59,0,1,1,0,3.18c-8.05,0-14.48,4.06-20.23,12.8-1.04,1.57-1.54,2.44-1.58,3.11A1.589,1.589,0,0,1,2690.6,1325.56Zm23.19,17.44h0c-8.59,0-17.03-5.1-22.58-13.63a1.589,1.589,0,0,1,.48-2.2,1.607,1.607,0,0,1,2.21.47c4.96,7.63,12.39,12.18,19.89,12.18h0c7.54,0,14.36-4.37,19.74-12.64a1.61,1.61,0,0,1,2.21-.48,1.591,1.591,0,0,1,.48,2.2C2730.31,1338,2722.34,1343,2713.79,1343Zm-0.07-7.07a12.24,12.24,0,1,1,12.31-12.24A12.289,12.289,0,0,1,2713.72,1335.93Zm0-21.3a9.06,9.06,0,1,0,9.11,9.06A9.1,9.1,0,0,0,2713.72,1314.63Zm-0.01,15.37a6.336,6.336,0,0,1-6.34-6.31,6.136,6.136,0,0,1,.49-2.43,1.6,1.6,0,0,1,2.95,1.23,3.1,3.1,0,0,0-.24,1.2,3.145,3.145,0,1,0,3.14-3.12,3.277,3.277,0,0,0-.88.12,1.59,1.59,0,1,1-.9-3.05A6.314,6.314,0,1,1,2713.71,1330Z"
                                          transform="translate(-2689 -1304.97)" /></svg>
                            </div>
                            <h1 class="services__item-title">ophthalmology</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="49" height="53" viewBox="0 0 49 53">
                                    <path id="service-icon1.svg" class="cls-2"
                                          d="M1804.82,1343.67a2.32,2.32,0,1,1,2.32,2.3A2.309,2.309,0,0,1,1804.82,1343.67Zm31.99,6.43a1.717,1.717,0,0,1-1.51.89h-40.22a1.729,1.729,0,0,1-1.46-.81,1.674,1.674,0,0,1-.07-1.65l2.01-3.98a15.428,15.428,0,0,1-7.5-12.13c-0.53-6.71,2.86-13.48,9.12-18.37l-2.93-4.3a1.652,1.652,0,0,1-.26-1.28,1.676,1.676,0,0,1,.74-1.08l7.69-5.01a1.711,1.711,0,0,1,2.33.44l16.11,22.32a1.7,1.7,0,0,1,.29,1.27,1.649,1.649,0,0,1-.7,1.1l-7.64,5.36a1.727,1.727,0,0,1-2.36-.36l-4.02-5.32a5.744,5.744,0,0,1-2.34.5,5.853,5.853,0,0,1-2.1-.4,4.588,4.588,0,0,0-.46,5.6c1.84,2.9,6.66,4.85,11.62,3.18l12-8.36a1.72,1.72,0,0,1,2.38.41,1.679,1.679,0,0,1-.41,2.36l-12.2,8.5a1.9,1.9,0,0,1-.4.21,14.938,14.938,0,0,1-5.01.87c-4.76,0-8.95-2.33-10.88-5.37a7.9,7.9,0,0,1,.67-9.52,5.629,5.629,0,0,1-1-3.21,5.785,5.785,0,0,1,11.57,0,5.584,5.584,0,0,1-.86,2.99l3.18,4.2,4.88-3.42-14.15-19.62-4.86,3.17,2.88,4.21a1.688,1.688,0,0,1-.44,2.34c-6.12,4.25-9.49,10.35-9.02,16.32a12.084,12.084,0,0,0,7.1,10.18,1.681,1.681,0,0,1,.87.98,1.635,1.635,0,0,1-.09,1.3l-1.51,2.99h33.7c-1.55-1.45-3.76-2.95-6.23-2.95h-9.66a1.711,1.711,0,0,1-1.64-1.19,1.684,1.684,0,0,1,.68-1.9l13.81-9.27a1.716,1.716,0,0,1,2.38.45,1.683,1.683,0,0,1-.46,2.35l-9.19,6.17h4.08c6.59,0,11.21,6.81,11.41,7.1A1.722,1.722,0,0,1,1836.81,1350.1Zm-32.72-30.47a2.335,2.335,0,1,0,2.36,2.33A2.345,2.345,0,0,0,1804.09,1319.63Zm-2.52-18.52-7.69,5.01a1.792,1.792,0,0,1-.94.27,1.711,1.711,0,0,1-1.44-.76,1.691,1.691,0,0,1,.5-2.35l7.69-5a1.728,1.728,0,0,1,2.37.49A1.675,1.675,0,0,1,1801.57,1301.11Z"
                                          transform="translate(-1788 -1298)" /></svg>
                            </div>
                            <h1 class="services__item-title">diagnostics</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="57" height="49" viewBox="0 0 57 49">
                                    <path id="service-icon2.svg" class="cls-2"
                                          d="M2116.36,1324.55a1.834,1.834,0,0,1-1.59-.95,1.9,1.9,0,0,1,.69-2.54,47.332,47.332,0,0,0,15.79-14.62,1.8,1.8,0,0,1,2.54-.46,1.888,1.888,0,0,1,.45,2.6,51.746,51.746,0,0,1-16.98,15.73A1.868,1.868,0,0,1,2116.36,1324.55Zm20.83-24.64a1.821,1.821,0,0,1-1.75-2.39,10.865,10.865,0,0,0-2.16-9.58c-2.23-2.46-4.68-3.65-7.31-3.59-3.55.11-7.53,2.56-10.91,6.73a1.807,1.807,0,0,1-2.57.25,1.907,1.907,0,0,1-.24-2.63c4.05-5,9.01-7.94,13.61-8.07,3.73-.12,7.12,1.49,10.09,4.77a14.717,14.717,0,0,1,2.99,13.18A1.839,1.839,0,0,1,2137.19,1299.91Zm-50.7-.15a1.839,1.839,0,0,1-1.78-1.45c-1.14-5.08-.13-9.66,2.82-12.91a13.345,13.345,0,0,1,11.72-4.58,1.855,1.855,0,0,1,1.62,2.05,1.823,1.823,0,0,1-2.01,1.65,9.763,9.763,0,0,0-8.65,3.42c-2.11,2.32-2.8,5.7-1.94,9.54a1.869,1.869,0,0,1-1.37,2.23A2,2,0,0,1,2086.49,1299.76Zm25.45,27.23a1.846,1.846,0,0,1-.81-0.19,68.609,68.609,0,0,1-22.39-18.33,1.879,1.879,0,0,1,.32-2.61,1.8,1.8,0,0,1,2.56.33,64.744,64.744,0,0,0,21.14,17.26,1.885,1.885,0,0,1,.82,2.5A1.827,1.827,0,0,1,2111.94,1326.99Zm1.34-11.24c-3.38,0-4.15-4.97-5.49-19.18-0.38-4.07-.91-9.67-1.57-12.85-0.51,2.82-.82,7.52-1.02,10.68-0.66,10.16-1.04,14.29-3.97,14.56-2.85.25-4.13-2.37-4.74-4.28h-10.67a1.865,1.865,0,0,1,0-3.73h12.04a1.824,1.824,0,0,1,1.76,1.39l0.03,0.11a10.721,10.721,0,0,0,.81,2.34c0.55-2.11.87-7.13,1.1-10.64,0.71-10.91,1.2-16.15,4.68-16.15,3.33,0,3.96,5.25,5.18,18.21,0.44,4.63,1.05,11.12,1.85,14.31,0.56-1.72,1.16-4.27,1.61-6.17,1.75-7.45,2.72-11.02,5.39-11.02,2.57,0,3.2,3.13,3.94,6.76a33.921,33.921,0,0,0,.89,3.73c0.03-.04.05-0.08,0.08-0.12a4.759,4.759,0,0,1,4.26-2.75h9.74a1.866,1.866,0,0,1,0,3.73h-9.74c-0.51,0-.63.11-1.17,0.99a3.951,3.951,0,0,1-3.44,2.36c-2.75,0-3.45-3.49-4.2-7.18-0.12-.64-0.29-1.47-0.47-2.22-0.62,1.86-1.28,4.67-1.74,6.6C2116.7,1312.52,2115.83,1315.75,2113.28,1315.75Z"
                                          transform="translate(-2084 -1278)" /></svg>
                            </div>
                            <h1 class="services__item-title">Cardiology</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="53.03" height="44" viewBox="0 0 53.03 44">
                                    <path id="service-icon3.svg" class="cls-2"
                                          d="M2421.76,1346a3.507,3.507,0,0,1-1.17-.2c-2.79-.97-3.24-4.42-3.73-8.07-0.66-4.93-1.29-7.12-3.34-7.12a1.665,1.665,0,1,1,0-3.33c5.37,0,6.14,5.79,6.7,10.02,0.26,1.9.68,5.08,1.51,5.37h0a3.451,3.451,0,0,0,1.95-.93c4.64-3.34,12.09-14.39,12.88-22.81a14.03,14.03,0,0,0-2.99-10.61,8.62,8.62,0,0,0-6.11-3.01c-2.33-.13-5.2.71-7.95,1.63a1.708,1.708,0,0,1-2.16-1.04,1.656,1.656,0,0,1,1.06-2.11c3.55-1.19,6.49-1.94,9.24-1.8a11.97,11.97,0,0,1,8.49,4.16,17.3,17.3,0,0,1,3.8,13.09c-0.94,10.03-9.57,22.28-14.93,25.64A6.185,6.185,0,0,1,2421.76,1346Zm-16.47,0a6.215,6.215,0,0,1-3.26-1.12c-5.36-3.36-13.99-15.61-14.92-25.64-0.44-4.72.75-8.94,3.36-11.9a12.448,12.448,0,0,1,8.93-4.18,18.406,18.406,0,0,1,5.63.71c1.97,0.5,3.72,1.14,5.58,1.81a42.83,42.83,0,0,0,15.06,3.15,1.666,1.666,0,1,1-.08,3.33,46.47,46.47,0,0,1-16.15-3.36c-1.78-.64-3.46-1.25-5.27-1.71a15.182,15.182,0,0,0-4.58-.61,9.141,9.141,0,0,0-6.56,3.03c-2,2.27-2.9,5.61-2.54,9.42,0.78,8.42,8.23,19.47,12.87,22.81a3.691,3.691,0,0,0,1.96.93c0.88-.31,1.39-3.62,1.7-5.59,0.67-4.37,1.51-9.8,6.5-9.8a1.665,1.665,0,1,1,0,3.33c-1.93,0-2.52,2.89-3.15,6.96-0.57,3.73-1.12,7.26-3.92,8.23A3.492,3.492,0,0,1,2405.29,1346Z"
                                          transform="translate(-2387 -1302)" /></svg>
                            </div>
                            <h1 class="services__item-title">Dental</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="50" height="38.03" viewBox="0 0 50 38.03">
                                    <path id="service-icon4.svg" class="cls-2"
                                          d="M2737.41,1325.56a1.6,1.6,0,0,1-1.6-1.49c-0.04-.67-0.54-1.54-1.57-3.11-5.75-8.74-12.18-12.8-20.24-12.8a1.59,1.59,0,1,1,0-3.18c9.11,0,16.6,4.65,22.91,14.24,1.21,1.83,2.01,3.14,2.1,4.66a1.59,1.59,0,0,1-1.5,1.68h-0.1Zm-46.81,0h-0.1a1.59,1.59,0,0,1-1.5-1.68c0.09-1.52.89-2.83,2.09-4.66,6.31-9.59,13.81-14.24,22.91-14.24a1.59,1.59,0,1,1,0,3.18c-8.05,0-14.48,4.06-20.23,12.8-1.04,1.57-1.54,2.44-1.58,3.11A1.589,1.589,0,0,1,2690.6,1325.56Zm23.19,17.44h0c-8.59,0-17.03-5.1-22.58-13.63a1.589,1.589,0,0,1,.48-2.2,1.607,1.607,0,0,1,2.21.47c4.96,7.63,12.39,12.18,19.89,12.18h0c7.54,0,14.36-4.37,19.74-12.64a1.61,1.61,0,0,1,2.21-.48,1.591,1.591,0,0,1,.48,2.2C2730.31,1338,2722.34,1343,2713.79,1343Zm-0.07-7.07a12.24,12.24,0,1,1,12.31-12.24A12.289,12.289,0,0,1,2713.72,1335.93Zm0-21.3a9.06,9.06,0,1,0,9.11,9.06A9.1,9.1,0,0,0,2713.72,1314.63Zm-0.01,15.37a6.336,6.336,0,0,1-6.34-6.31,6.136,6.136,0,0,1,.49-2.43,1.6,1.6,0,0,1,2.95,1.23,3.1,3.1,0,0,0-.24,1.2,3.145,3.145,0,1,0,3.14-3.12,3.277,3.277,0,0,0-.88.12,1.59,1.59,0,1,1-.9-3.05A6.314,6.314,0,1,1,2713.71,1330Z"
                                          transform="translate(-2689 -1304.97)" /></svg>
                            </div>
                            <h1 class="services__item-title">ophthalmology</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="49" height="53" viewBox="0 0 49 53">
                                    <path id="service-icon1.svg" class="cls-2"
                                          d="M1804.82,1343.67a2.32,2.32,0,1,1,2.32,2.3A2.309,2.309,0,0,1,1804.82,1343.67Zm31.99,6.43a1.717,1.717,0,0,1-1.51.89h-40.22a1.729,1.729,0,0,1-1.46-.81,1.674,1.674,0,0,1-.07-1.65l2.01-3.98a15.428,15.428,0,0,1-7.5-12.13c-0.53-6.71,2.86-13.48,9.12-18.37l-2.93-4.3a1.652,1.652,0,0,1-.26-1.28,1.676,1.676,0,0,1,.74-1.08l7.69-5.01a1.711,1.711,0,0,1,2.33.44l16.11,22.32a1.7,1.7,0,0,1,.29,1.27,1.649,1.649,0,0,1-.7,1.1l-7.64,5.36a1.727,1.727,0,0,1-2.36-.36l-4.02-5.32a5.744,5.744,0,0,1-2.34.5,5.853,5.853,0,0,1-2.1-.4,4.588,4.588,0,0,0-.46,5.6c1.84,2.9,6.66,4.85,11.62,3.18l12-8.36a1.72,1.72,0,0,1,2.38.41,1.679,1.679,0,0,1-.41,2.36l-12.2,8.5a1.9,1.9,0,0,1-.4.21,14.938,14.938,0,0,1-5.01.87c-4.76,0-8.95-2.33-10.88-5.37a7.9,7.9,0,0,1,.67-9.52,5.629,5.629,0,0,1-1-3.21,5.785,5.785,0,0,1,11.57,0,5.584,5.584,0,0,1-.86,2.99l3.18,4.2,4.88-3.42-14.15-19.62-4.86,3.17,2.88,4.21a1.688,1.688,0,0,1-.44,2.34c-6.12,4.25-9.49,10.35-9.02,16.32a12.084,12.084,0,0,0,7.1,10.18,1.681,1.681,0,0,1,.87.98,1.635,1.635,0,0,1-.09,1.3l-1.51,2.99h33.7c-1.55-1.45-3.76-2.95-6.23-2.95h-9.66a1.711,1.711,0,0,1-1.64-1.19,1.684,1.684,0,0,1,.68-1.9l13.81-9.27a1.716,1.716,0,0,1,2.38.45,1.683,1.683,0,0,1-.46,2.35l-9.19,6.17h4.08c6.59,0,11.21,6.81,11.41,7.1A1.722,1.722,0,0,1,1836.81,1350.1Zm-32.72-30.47a2.335,2.335,0,1,0,2.36,2.33A2.345,2.345,0,0,0,1804.09,1319.63Zm-2.52-18.52-7.69,5.01a1.792,1.792,0,0,1-.94.27,1.711,1.711,0,0,1-1.44-.76,1.691,1.691,0,0,1,.5-2.35l7.69-5a1.728,1.728,0,0,1,2.37.49A1.675,1.675,0,0,1,1801.57,1301.11Z"
                                          transform="translate(-1788 -1298)" /></svg>
                            </div>
                            <h1 class="services__item-title">diagnostics</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="57" height="49" viewBox="0 0 57 49">
                                    <path id="service-icon2.svg" class="cls-2"
                                          d="M2116.36,1324.55a1.834,1.834,0,0,1-1.59-.95,1.9,1.9,0,0,1,.69-2.54,47.332,47.332,0,0,0,15.79-14.62,1.8,1.8,0,0,1,2.54-.46,1.888,1.888,0,0,1,.45,2.6,51.746,51.746,0,0,1-16.98,15.73A1.868,1.868,0,0,1,2116.36,1324.55Zm20.83-24.64a1.821,1.821,0,0,1-1.75-2.39,10.865,10.865,0,0,0-2.16-9.58c-2.23-2.46-4.68-3.65-7.31-3.59-3.55.11-7.53,2.56-10.91,6.73a1.807,1.807,0,0,1-2.57.25,1.907,1.907,0,0,1-.24-2.63c4.05-5,9.01-7.94,13.61-8.07,3.73-.12,7.12,1.49,10.09,4.77a14.717,14.717,0,0,1,2.99,13.18A1.839,1.839,0,0,1,2137.19,1299.91Zm-50.7-.15a1.839,1.839,0,0,1-1.78-1.45c-1.14-5.08-.13-9.66,2.82-12.91a13.345,13.345,0,0,1,11.72-4.58,1.855,1.855,0,0,1,1.62,2.05,1.823,1.823,0,0,1-2.01,1.65,9.763,9.763,0,0,0-8.65,3.42c-2.11,2.32-2.8,5.7-1.94,9.54a1.869,1.869,0,0,1-1.37,2.23A2,2,0,0,1,2086.49,1299.76Zm25.45,27.23a1.846,1.846,0,0,1-.81-0.19,68.609,68.609,0,0,1-22.39-18.33,1.879,1.879,0,0,1,.32-2.61,1.8,1.8,0,0,1,2.56.33,64.744,64.744,0,0,0,21.14,17.26,1.885,1.885,0,0,1,.82,2.5A1.827,1.827,0,0,1,2111.94,1326.99Zm1.34-11.24c-3.38,0-4.15-4.97-5.49-19.18-0.38-4.07-.91-9.67-1.57-12.85-0.51,2.82-.82,7.52-1.02,10.68-0.66,10.16-1.04,14.29-3.97,14.56-2.85.25-4.13-2.37-4.74-4.28h-10.67a1.865,1.865,0,0,1,0-3.73h12.04a1.824,1.824,0,0,1,1.76,1.39l0.03,0.11a10.721,10.721,0,0,0,.81,2.34c0.55-2.11.87-7.13,1.1-10.64,0.71-10.91,1.2-16.15,4.68-16.15,3.33,0,3.96,5.25,5.18,18.21,0.44,4.63,1.05,11.12,1.85,14.31,0.56-1.72,1.16-4.27,1.61-6.17,1.75-7.45,2.72-11.02,5.39-11.02,2.57,0,3.2,3.13,3.94,6.76a33.921,33.921,0,0,0,.89,3.73c0.03-.04.05-0.08,0.08-0.12a4.759,4.759,0,0,1,4.26-2.75h9.74a1.866,1.866,0,0,1,0,3.73h-9.74c-0.51,0-.63.11-1.17,0.99a3.951,3.951,0,0,1-3.44,2.36c-2.75,0-3.45-3.49-4.2-7.18-0.12-.64-0.29-1.47-0.47-2.22-0.62,1.86-1.28,4.67-1.74,6.6C2116.7,1312.52,2115.83,1315.75,2113.28,1315.75Z"
                                          transform="translate(-2084 -1278)" /></svg>
                            </div>
                            <h1 class="services__item-title">Cardiology</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="53.03" height="44" viewBox="0 0 53.03 44">
                                    <path id="service-icon3.svg" class="cls-2"
                                          d="M2421.76,1346a3.507,3.507,0,0,1-1.17-.2c-2.79-.97-3.24-4.42-3.73-8.07-0.66-4.93-1.29-7.12-3.34-7.12a1.665,1.665,0,1,1,0-3.33c5.37,0,6.14,5.79,6.7,10.02,0.26,1.9.68,5.08,1.51,5.37h0a3.451,3.451,0,0,0,1.95-.93c4.64-3.34,12.09-14.39,12.88-22.81a14.03,14.03,0,0,0-2.99-10.61,8.62,8.62,0,0,0-6.11-3.01c-2.33-.13-5.2.71-7.95,1.63a1.708,1.708,0,0,1-2.16-1.04,1.656,1.656,0,0,1,1.06-2.11c3.55-1.19,6.49-1.94,9.24-1.8a11.97,11.97,0,0,1,8.49,4.16,17.3,17.3,0,0,1,3.8,13.09c-0.94,10.03-9.57,22.28-14.93,25.64A6.185,6.185,0,0,1,2421.76,1346Zm-16.47,0a6.215,6.215,0,0,1-3.26-1.12c-5.36-3.36-13.99-15.61-14.92-25.64-0.44-4.72.75-8.94,3.36-11.9a12.448,12.448,0,0,1,8.93-4.18,18.406,18.406,0,0,1,5.63.71c1.97,0.5,3.72,1.14,5.58,1.81a42.83,42.83,0,0,0,15.06,3.15,1.666,1.666,0,1,1-.08,3.33,46.47,46.47,0,0,1-16.15-3.36c-1.78-.64-3.46-1.25-5.27-1.71a15.182,15.182,0,0,0-4.58-.61,9.141,9.141,0,0,0-6.56,3.03c-2,2.27-2.9,5.61-2.54,9.42,0.78,8.42,8.23,19.47,12.87,22.81a3.691,3.691,0,0,0,1.96.93c0.88-.31,1.39-3.62,1.7-5.59,0.67-4.37,1.51-9.8,6.5-9.8a1.665,1.665,0,1,1,0,3.33c-1.93,0-2.52,2.89-3.15,6.96-0.57,3.73-1.12,7.26-3.92,8.23A3.492,3.492,0,0,1,2405.29,1346Z"
                                          transform="translate(-2387 -1302)" /></svg>
                            </div>
                            <h1 class="services__item-title">Dental</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="50" height="38.03" viewBox="0 0 50 38.03">
                                    <path id="service-icon4.svg" class="cls-2"
                                          d="M2737.41,1325.56a1.6,1.6,0,0,1-1.6-1.49c-0.04-.67-0.54-1.54-1.57-3.11-5.75-8.74-12.18-12.8-20.24-12.8a1.59,1.59,0,1,1,0-3.18c9.11,0,16.6,4.65,22.91,14.24,1.21,1.83,2.01,3.14,2.1,4.66a1.59,1.59,0,0,1-1.5,1.68h-0.1Zm-46.81,0h-0.1a1.59,1.59,0,0,1-1.5-1.68c0.09-1.52.89-2.83,2.09-4.66,6.31-9.59,13.81-14.24,22.91-14.24a1.59,1.59,0,1,1,0,3.18c-8.05,0-14.48,4.06-20.23,12.8-1.04,1.57-1.54,2.44-1.58,3.11A1.589,1.589,0,0,1,2690.6,1325.56Zm23.19,17.44h0c-8.59,0-17.03-5.1-22.58-13.63a1.589,1.589,0,0,1,.48-2.2,1.607,1.607,0,0,1,2.21.47c4.96,7.63,12.39,12.18,19.89,12.18h0c7.54,0,14.36-4.37,19.74-12.64a1.61,1.61,0,0,1,2.21-.48,1.591,1.591,0,0,1,.48,2.2C2730.31,1338,2722.34,1343,2713.79,1343Zm-0.07-7.07a12.24,12.24,0,1,1,12.31-12.24A12.289,12.289,0,0,1,2713.72,1335.93Zm0-21.3a9.06,9.06,0,1,0,9.11,9.06A9.1,9.1,0,0,0,2713.72,1314.63Zm-0.01,15.37a6.336,6.336,0,0,1-6.34-6.31,6.136,6.136,0,0,1,.49-2.43,1.6,1.6,0,0,1,2.95,1.23,3.1,3.1,0,0,0-.24,1.2,3.145,3.145,0,1,0,3.14-3.12,3.277,3.277,0,0,0-.88.12,1.59,1.59,0,1,1-.9-3.05A6.314,6.314,0,1,1,2713.71,1330Z"
                                          transform="translate(-2689 -1304.97)" /></svg>
                            </div>
                            <h1 class="services__item-title">ophthalmology</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="49" height="53" viewBox="0 0 49 53">
                                    <path id="service-icon1.svg" class="cls-2"
                                          d="M1804.82,1343.67a2.32,2.32,0,1,1,2.32,2.3A2.309,2.309,0,0,1,1804.82,1343.67Zm31.99,6.43a1.717,1.717,0,0,1-1.51.89h-40.22a1.729,1.729,0,0,1-1.46-.81,1.674,1.674,0,0,1-.07-1.65l2.01-3.98a15.428,15.428,0,0,1-7.5-12.13c-0.53-6.71,2.86-13.48,9.12-18.37l-2.93-4.3a1.652,1.652,0,0,1-.26-1.28,1.676,1.676,0,0,1,.74-1.08l7.69-5.01a1.711,1.711,0,0,1,2.33.44l16.11,22.32a1.7,1.7,0,0,1,.29,1.27,1.649,1.649,0,0,1-.7,1.1l-7.64,5.36a1.727,1.727,0,0,1-2.36-.36l-4.02-5.32a5.744,5.744,0,0,1-2.34.5,5.853,5.853,0,0,1-2.1-.4,4.588,4.588,0,0,0-.46,5.6c1.84,2.9,6.66,4.85,11.62,3.18l12-8.36a1.72,1.72,0,0,1,2.38.41,1.679,1.679,0,0,1-.41,2.36l-12.2,8.5a1.9,1.9,0,0,1-.4.21,14.938,14.938,0,0,1-5.01.87c-4.76,0-8.95-2.33-10.88-5.37a7.9,7.9,0,0,1,.67-9.52,5.629,5.629,0,0,1-1-3.21,5.785,5.785,0,0,1,11.57,0,5.584,5.584,0,0,1-.86,2.99l3.18,4.2,4.88-3.42-14.15-19.62-4.86,3.17,2.88,4.21a1.688,1.688,0,0,1-.44,2.34c-6.12,4.25-9.49,10.35-9.02,16.32a12.084,12.084,0,0,0,7.1,10.18,1.681,1.681,0,0,1,.87.98,1.635,1.635,0,0,1-.09,1.3l-1.51,2.99h33.7c-1.55-1.45-3.76-2.95-6.23-2.95h-9.66a1.711,1.711,0,0,1-1.64-1.19,1.684,1.684,0,0,1,.68-1.9l13.81-9.27a1.716,1.716,0,0,1,2.38.45,1.683,1.683,0,0,1-.46,2.35l-9.19,6.17h4.08c6.59,0,11.21,6.81,11.41,7.1A1.722,1.722,0,0,1,1836.81,1350.1Zm-32.72-30.47a2.335,2.335,0,1,0,2.36,2.33A2.345,2.345,0,0,0,1804.09,1319.63Zm-2.52-18.52-7.69,5.01a1.792,1.792,0,0,1-.94.27,1.711,1.711,0,0,1-1.44-.76,1.691,1.691,0,0,1,.5-2.35l7.69-5a1.728,1.728,0,0,1,2.37.49A1.675,1.675,0,0,1,1801.57,1301.11Z"
                                          transform="translate(-1788 -1298)" /></svg>
                            </div>
                            <h1 class="services__item-title">diagnostics</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="57" height="49" viewBox="0 0 57 49">
                                    <path id="service-icon2.svg" class="cls-2"
                                          d="M2116.36,1324.55a1.834,1.834,0,0,1-1.59-.95,1.9,1.9,0,0,1,.69-2.54,47.332,47.332,0,0,0,15.79-14.62,1.8,1.8,0,0,1,2.54-.46,1.888,1.888,0,0,1,.45,2.6,51.746,51.746,0,0,1-16.98,15.73A1.868,1.868,0,0,1,2116.36,1324.55Zm20.83-24.64a1.821,1.821,0,0,1-1.75-2.39,10.865,10.865,0,0,0-2.16-9.58c-2.23-2.46-4.68-3.65-7.31-3.59-3.55.11-7.53,2.56-10.91,6.73a1.807,1.807,0,0,1-2.57.25,1.907,1.907,0,0,1-.24-2.63c4.05-5,9.01-7.94,13.61-8.07,3.73-.12,7.12,1.49,10.09,4.77a14.717,14.717,0,0,1,2.99,13.18A1.839,1.839,0,0,1,2137.19,1299.91Zm-50.7-.15a1.839,1.839,0,0,1-1.78-1.45c-1.14-5.08-.13-9.66,2.82-12.91a13.345,13.345,0,0,1,11.72-4.58,1.855,1.855,0,0,1,1.62,2.05,1.823,1.823,0,0,1-2.01,1.65,9.763,9.763,0,0,0-8.65,3.42c-2.11,2.32-2.8,5.7-1.94,9.54a1.869,1.869,0,0,1-1.37,2.23A2,2,0,0,1,2086.49,1299.76Zm25.45,27.23a1.846,1.846,0,0,1-.81-0.19,68.609,68.609,0,0,1-22.39-18.33,1.879,1.879,0,0,1,.32-2.61,1.8,1.8,0,0,1,2.56.33,64.744,64.744,0,0,0,21.14,17.26,1.885,1.885,0,0,1,.82,2.5A1.827,1.827,0,0,1,2111.94,1326.99Zm1.34-11.24c-3.38,0-4.15-4.97-5.49-19.18-0.38-4.07-.91-9.67-1.57-12.85-0.51,2.82-.82,7.52-1.02,10.68-0.66,10.16-1.04,14.29-3.97,14.56-2.85.25-4.13-2.37-4.74-4.28h-10.67a1.865,1.865,0,0,1,0-3.73h12.04a1.824,1.824,0,0,1,1.76,1.39l0.03,0.11a10.721,10.721,0,0,0,.81,2.34c0.55-2.11.87-7.13,1.1-10.64,0.71-10.91,1.2-16.15,4.68-16.15,3.33,0,3.96,5.25,5.18,18.21,0.44,4.63,1.05,11.12,1.85,14.31,0.56-1.72,1.16-4.27,1.61-6.17,1.75-7.45,2.72-11.02,5.39-11.02,2.57,0,3.2,3.13,3.94,6.76a33.921,33.921,0,0,0,.89,3.73c0.03-.04.05-0.08,0.08-0.12a4.759,4.759,0,0,1,4.26-2.75h9.74a1.866,1.866,0,0,1,0,3.73h-9.74c-0.51,0-.63.11-1.17,0.99a3.951,3.951,0,0,1-3.44,2.36c-2.75,0-3.45-3.49-4.2-7.18-0.12-.64-0.29-1.47-0.47-2.22-0.62,1.86-1.28,4.67-1.74,6.6C2116.7,1312.52,2115.83,1315.75,2113.28,1315.75Z"
                                          transform="translate(-2084 -1278)" /></svg>
                            </div>
                            <h1 class="services__item-title">Cardiology</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="53.03" height="44" viewBox="0 0 53.03 44">
                                    <path id="service-icon3.svg" class="cls-2"
                                          d="M2421.76,1346a3.507,3.507,0,0,1-1.17-.2c-2.79-.97-3.24-4.42-3.73-8.07-0.66-4.93-1.29-7.12-3.34-7.12a1.665,1.665,0,1,1,0-3.33c5.37,0,6.14,5.79,6.7,10.02,0.26,1.9.68,5.08,1.51,5.37h0a3.451,3.451,0,0,0,1.95-.93c4.64-3.34,12.09-14.39,12.88-22.81a14.03,14.03,0,0,0-2.99-10.61,8.62,8.62,0,0,0-6.11-3.01c-2.33-.13-5.2.71-7.95,1.63a1.708,1.708,0,0,1-2.16-1.04,1.656,1.656,0,0,1,1.06-2.11c3.55-1.19,6.49-1.94,9.24-1.8a11.97,11.97,0,0,1,8.49,4.16,17.3,17.3,0,0,1,3.8,13.09c-0.94,10.03-9.57,22.28-14.93,25.64A6.185,6.185,0,0,1,2421.76,1346Zm-16.47,0a6.215,6.215,0,0,1-3.26-1.12c-5.36-3.36-13.99-15.61-14.92-25.64-0.44-4.72.75-8.94,3.36-11.9a12.448,12.448,0,0,1,8.93-4.18,18.406,18.406,0,0,1,5.63.71c1.97,0.5,3.72,1.14,5.58,1.81a42.83,42.83,0,0,0,15.06,3.15,1.666,1.666,0,1,1-.08,3.33,46.47,46.47,0,0,1-16.15-3.36c-1.78-.64-3.46-1.25-5.27-1.71a15.182,15.182,0,0,0-4.58-.61,9.141,9.141,0,0,0-6.56,3.03c-2,2.27-2.9,5.61-2.54,9.42,0.78,8.42,8.23,19.47,12.87,22.81a3.691,3.691,0,0,0,1.96.93c0.88-.31,1.39-3.62,1.7-5.59,0.67-4.37,1.51-9.8,6.5-9.8a1.665,1.665,0,1,1,0,3.33c-1.93,0-2.52,2.89-3.15,6.96-0.57,3.73-1.12,7.26-3.92,8.23A3.492,3.492,0,0,1,2405.29,1346Z"
                                          transform="translate(-2387 -1302)" /></svg>
                            </div>
                            <h1 class="services__item-title">Dental</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>

                    <div class="services__outer-item">
                        <div class="services__item">
                            <div class="services__item-icon">
                                <svg width="50" height="38.03" viewBox="0 0 50 38.03">
                                    <path id="service-icon4.svg" class="cls-2"
                                          d="M2737.41,1325.56a1.6,1.6,0,0,1-1.6-1.49c-0.04-.67-0.54-1.54-1.57-3.11-5.75-8.74-12.18-12.8-20.24-12.8a1.59,1.59,0,1,1,0-3.18c9.11,0,16.6,4.65,22.91,14.24,1.21,1.83,2.01,3.14,2.1,4.66a1.59,1.59,0,0,1-1.5,1.68h-0.1Zm-46.81,0h-0.1a1.59,1.59,0,0,1-1.5-1.68c0.09-1.52.89-2.83,2.09-4.66,6.31-9.59,13.81-14.24,22.91-14.24a1.59,1.59,0,1,1,0,3.18c-8.05,0-14.48,4.06-20.23,12.8-1.04,1.57-1.54,2.44-1.58,3.11A1.589,1.589,0,0,1,2690.6,1325.56Zm23.19,17.44h0c-8.59,0-17.03-5.1-22.58-13.63a1.589,1.589,0,0,1,.48-2.2,1.607,1.607,0,0,1,2.21.47c4.96,7.63,12.39,12.18,19.89,12.18h0c7.54,0,14.36-4.37,19.74-12.64a1.61,1.61,0,0,1,2.21-.48,1.591,1.591,0,0,1,.48,2.2C2730.31,1338,2722.34,1343,2713.79,1343Zm-0.07-7.07a12.24,12.24,0,1,1,12.31-12.24A12.289,12.289,0,0,1,2713.72,1335.93Zm0-21.3a9.06,9.06,0,1,0,9.11,9.06A9.1,9.1,0,0,0,2713.72,1314.63Zm-0.01,15.37a6.336,6.336,0,0,1-6.34-6.31,6.136,6.136,0,0,1,.49-2.43,1.6,1.6,0,0,1,2.95,1.23,3.1,3.1,0,0,0-.24,1.2,3.145,3.145,0,1,0,3.14-3.12,3.277,3.277,0,0,0-.88.12,1.59,1.59,0,1,1-.9-3.05A6.314,6.314,0,1,1,2713.71,1330Z"
                                          transform="translate(-2689 -1304.97)" /></svg>
                            </div>
                            <h1 class="services__item-title">ophthalmology</h1>
                            <p class="services__item-text">All analyzes are carried out<br>using modern equipment
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- End of .services -->
    </header>
    <!-- End of .header-bottom -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Start of .appointments -->
    <section class="appointments" id="departments">
        <div class="appointments__bg">
            <div class="icon">
                <img src="./images/png-shapes/appointments-shape.png">
            </div>
        </div>
        <div class="container">
            <div class="online-appointments">
                <h1 class="section-title">Online Appointments<br><span>and Prescriptions</span></h1>
                <p class="appointments-text">You can now book a limited amount of doctors appointments online</p>
            </div>

            <div class="company-numbers">

                <div class="company-numbers__item">
                    <h2 class="number">150k</h2>
                    <div class="content">
                        <h3 class="title">Cured patients</h3>
                        <p class="text">For over 15 years, we have delighted our customers and provide them with the
                            necessary services</p>
                    </div>
                </div>

                <div class="company-numbers__item">
                    <h2 class="number">100%</h2>
                    <div class="content">
                        <h3 class="title">Happy Clients</h3>
                        <p class="text">Absolutely all our clients are ready to assure you of the high quality of
                            our services</p>
                    </div>
                </div>

            </div>

            <a href="departments-details_right.html" class="btn btn_blue">REQUEST AN APPOINTMENT</a>

        </div>
    </section>
    <!-- End of .appointments -->

    <!-- Start of .why-choose-us -->
    <section class="why-choose-us" id="why-us">
        <div class="why-choose-us__bg">
            <svg width="726" height="886" viewBox="0 0 726 886">
                <path id="Shape.svg" class="cls-4"
                      d="M145.952,522.943a0.613,0.613,0,1,1-.609-0.616A0.611,0.611,0,0,1,145.952,522.943Zm562.274-379.53-33.035-19.1V133.9a6.335,6.335,0,1,1-5.616,9.742l-52.349,30.266a9.691,9.691,0,0,1-8.232,14.273V251.9a3.158,3.158,0,0,1,2.578,4.469l56.419,32.62a8.154,8.154,0,1,1,7.2,12.486V362.4a7.46,7.46,0,1,1-6.592,11.434l-54.235,31.358a6.368,6.368,0,1,1-11.31,0L548.075,373.4a6.589,6.589,0,0,1-11.121,0L479.4,406.677l57.781,33.4V541.568l-86.273,49.88v99.757l-87.767,50.741-86.273-49.874-51.6,29.831L271.4,748.575a7.488,7.488,0,1,1,6.619,11.484v64.3a4.766,4.766,0,1,1-4.257,7.383l-54.377,31.44a8.9,8.9,0,1,1-15.7,0L147.7,830.811a2.909,2.909,0,1,1-2.648-4.6V756.4a3.838,3.838,0,1,1,3.453-5.99l28.362-16.4-72.537-41.936L62.5,716.257V712.79l40.336-23.319V591.448L62.5,568.126V564.66l41.836,24.185L189.1,539.837V441.813l-84.768-49.008L62.5,416.987V413.52L102.832,390.2V292.178L62.5,268.857V265.4l41.836,24.182L189.1,240.571v-74.71L146.265,141.1a1.267,1.267,0,1,1-1.211-2.1V117.079L110.32,97h5.992l28.742,16.614V97h0.579v16.949L190.6,139.943,264.892,97h5.993L192.1,142.546v24.38l16.016,9.259a4.125,4.125,0,0,1,6.843,0l21.185-12.247,32.324-18.69a10.554,10.554,0,0,1,8.98-15.569V97h0.572v32.682A10.556,10.556,0,0,1,287,145.249a0,0,0,0,0,0,0,0,0,0,0,1,0,0l34.962,20.214,15,8.675a8.212,8.212,0,0,1,13.929,0l10.754-6.218V142.546L282.859,97h5.993l74.29,42.946,46.691-26.993V97h0.574v15.622L437.433,97h5.993l-33.019,19.088v17.774a6.375,6.375,0,0,1,5.363,9.3,0,0,0,0,0,0,0c-0.089.172-.185,0.337-0.288,0.5,0.1-.161.2-0.326,0.288-0.5a0,0,0,0,1,0,0l38.577,22.305,15.849,9.162a7.235,7.235,0,0,1,12.244,0l18.481-10.685,33.265-19.234v-2.161L455.405,97h5.987l72.91,42.144v0a8.288,8.288,0,0,1,7.923-7.208V97H542.8v34.938a8.223,8.223,0,0,1,4.322,1.4L609.973,97h5.993l-66.632,38.521a8.314,8.314,0,0,1,.493,8.6l50.652,29.284a9.668,9.668,0,0,1,16.458,0l52.35-30.262a6.337,6.337,0,0,1,5.33-9.244v-9.918L627.945,97h5.993l40.679,23.516V97h0.574v23.848l33.035,19.1L782.514,97h5.993ZM189.1,142.546l-43.467-25.132V139a1.266,1.266,0,0,1,.978,1.229,1.29,1.29,0,0,1-.055.371l42.544,24.6V142.546ZM536.667,372.905a6.6,6.6,0,0,1,5.558-9.644V301.9a8.59,8.59,0,0,1-7.281-12.628l-39.5-22.835-44.531,25.745v98.027l25.123,14.524c0.093-.008.188-0.011,0.284-0.011a3.394,3.394,0,0,1,2.793,1.462Zm-2.481,166.934V441.813L479.161,410a3.408,3.408,0,0,1-5.927-3.329l-23.9-13.821-78.144,45.175-6.546,3.785v98.021l84.775,49.013h0ZM410.407,300.868v65.881a3.124,3.124,0,0,1,2.544,4.414l33.95,19.625,1.012-.585V292.178l-17.626-10.191-13.488,7.8A7.563,7.563,0,0,1,410.407,300.868ZM344.216,415.3v12.971l18.929,10.944,42.384-24.507,40.8-23.59-33.662-19.463a3.114,3.114,0,0,1-5.086,0l-57.3,33.13A7.184,7.184,0,0,1,344.216,415.3Zm-65.844,274.17,84.773,49.013,84.768-49.013V591.448l-42.384-24.507-42.384-24.5-59.084,34.157-25.689,14.854v98.023Zm-1.5-100.623v0l84.773-49.008V441.813l-17.429-10.077v48.6a4.343,4.343,0,1,1-3.893,6.75l-55.141,31.882a8.44,8.44,0,1,1-14.9,0l-52.855-30.557a6.977,6.977,0,1,1-6.177-10.716V430.742L192.1,441.813v98.026l84.773,49.006,0,0h0Zm60.7-184.058a0.008,0.008,0,0,1,0,0v0h0l-47.95-27.727L280.873,372a3.806,3.806,0,0,1-2.5,1.607V390.2l65.265,37.734V415.3A7.181,7.181,0,0,1,337.576,404.79Zm-60.7-11.985L211.824,430.41v47.283a6.987,6.987,0,0,1,5.891,10.217l52.854,30.557a8.436,8.436,0,0,1,14.327,0l55.139-31.884a4.347,4.347,0,0,1,3.6-6.251V431.4Zm-65.048,22.058v12.08l21.163-12.234L275.373,390.2V372.845a3.871,3.871,0,0,1-.782-0.839l-57.084,33.005A6.748,6.748,0,0,1,211.824,414.863ZM148.8,750.907a3.842,3.842,0,0,1-3.163,5.49v69.818a2.915,2.915,0,0,1,2.358,4.094l55.982,32.369a8.9,8.9,0,0,1,15.126,0l54.375-31.439a4.771,4.771,0,0,1,3.973-6.888v-64.3a7.5,7.5,0,0,1-6.335-10.985L224.7,722.235,190.6,741.946l-13.155-7.605Zm72.9-30.4-5.038-2.912a6.085,6.085,0,0,1-10.251,0L180.44,732.611l10.16,5.873ZM148.215,566.941l-42.384,24.507v98.023l74.033,42.806,26.26-15.182a6.09,6.09,0,1,1,10.826,0l5.324,3.078,53.1-30.7V591.448l-42.386-24.507-42.387-24.5ZM190.6,243.168l-42.385,24.5-42.384,24.506V390.2l42.384,24.506,42.385,24.5h0l0,0v0l20.649-11.938V414.863a6.747,6.747,0,0,1-5.681-9.857l-58.984-34.1a1.626,1.626,0,1,1-1.53-2.651V296.736a3.435,3.435,0,1,1,3.1-5.384l59.528-34.412a4.308,4.308,0,0,1,.037-3.875Zm20.649-60.546a4.136,4.136,0,0,1-3.424-5.935L192.1,167.6v72.976l18.011,10.411a4.3,4.3,0,0,1,1.139-.234V182.622Zm-3.278,74.816-59.528,34.414a3.438,3.438,0,0,1-2.81,4.884v71.518a1.633,1.633,0,0,1,1.336,1.6,1.614,1.614,0,0,1-.1.554l58.985,34.1a6.731,6.731,0,0,1,11.363,0l18.924-10.939L274.3,371.507a3.816,3.816,0,0,1,1.072-4.641V298.342a5.567,5.567,0,0,1-2.584-7.555L215.1,257.436A4.289,4.289,0,0,1,207.971,257.438Zm135.666-70.722a8.227,8.227,0,0,1-6.964-12.076l-49.967-28.89a10.525,10.525,0,0,1-17.95,0h0l-34.963,20.212-18.545,10.724a4.139,4.139,0,0,1-3.424,5.934v68.126a4.309,4.309,0,0,1,3.936,3.5l59.22,34.236a5.557,5.557,0,0,1,4.537-.436l59.6-34.455a5.019,5.019,0,0,1,4.518-3.568v-63.31ZM282.173,289.981c0.076,0.1.147,0.2,0.215,0.308h0l32.359-18.709,24.695-14.28c-0.056-.111-0.107-0.225-0.155-0.34h0l-35.226,20.364Zm57.56-32.179-57.057,32.985a5.559,5.559,0,0,1-4.3,8.043V366.1a3.817,3.817,0,0,1,2.789,5.4h0l40.8,23.589,15.907,9.2a7.165,7.165,0,0,1,12.124,0l57.305-33.13a3.122,3.122,0,0,1,2.54-4.411V300.868a7.566,7.566,0,0,1-6.39-11.084L348.119,257.8A5.017,5.017,0,0,1,339.733,257.8Zm21.912-89.214-10.466,6.051a8.228,8.228,0,0,1-6.963,12.077v63.31a4.9,4.9,0,0,1,.86.124l16.569-9.579V168.588ZM347.9,251.979a5.02,5.02,0,0,1,.506,5.319l55.322,31.986a7.549,7.549,0,0,1,12.78,0l13.2-7.63-24.183-13.982-42.384-24.5ZM409.833,116.42l-45.194,26.129V166.19l39.836-23.03a6.374,6.374,0,0,1,5.358-9.3V116.42Zm66.2,69.325a7.255,7.255,0,0,1-6.121-10.618l-18.483-10.686L415.481,143.66a6.359,6.359,0,0,1-10.717,0l0,0h0l-40.124,23.2v73.713l6.546,3.784,61.523,35.566,14.408-8.33,24.522-14.178a5.248,5.248,0,0,1,4.391-7.609V185.745Zm-4.1,72.168-38.645,22.341,16.129,9.324L492.446,264.7l-11.741-6.788A5.237,5.237,0,0,1,471.929,257.913Zm62.257-112.536-35.613,20.587-15.846,9.161a7.256,7.256,0,0,1-6.125,10.62V249.8a5.247,5.247,0,0,1,4.392,7.606l12.031,6.956,41.161-23.795V145.377Zm74.235,42.8a9.692,9.692,0,0,1-8.233-14.272l-50.65-29.285a8.275,8.275,0,0,1-12.353,1.954V242.3l-41.163,23.8,39.211,22.671h0a8.574,8.574,0,0,1,14.559,0l29.717-17.179,26.335-15.226a3.161,3.161,0,0,1,2.577-4.47V188.181Zm-2.288,68.685-56.052,32.4A8.591,8.591,0,0,1,542.8,301.9v61.365a6.6,6.6,0,0,1,5.561,9.647l54.981,31.785a6.364,6.364,0,0,1,10.731,0l54.239-31.355a7.465,7.465,0,0,1,6.306-10.936V301.47a8.165,8.165,0,0,1-6.912-11.989l-56.422-32.615A3.154,3.154,0,0,1,606.133,256.866ZM145.343,605.048a5.567,5.567,0,1,1,5.556-5.564A5.562,5.562,0,0,1,145.343,605.048Zm66.19,27.908a4.8,4.8,0,1,1-4.788,4.8A4.794,4.794,0,0,1,211.533,632.956ZM62.5,114.257L92.346,97h5.993L62.5,117.719v-3.462ZM674.9,981.391a0.806,0.806,0,1,1-.806.806A0.806,0.806,0,0,1,674.9,981.391Z"
                      transform="translate(-62.5 -97)" /></svg>
            <div class="circle-blue"></div>
            <div class="circle-pink"></div>
            <img src="./images/png/nurse.png" alt="">
        </div>
        <div class="container">
            <h5>See the Difference</h5>
            <h1 class="section-title">Why <span>Choose Us?</span></h1>
            <div class="difference">

                <div class="difference__item wow fadeInLeft" data-wow-duration="1s">
                    <h1 class="difference__item-number">01</h1>
                    <div class="difference__item-content">
                        <h1 class="difference__item-title">Patient-Centred</h1>
                        <p class="difference__item-text">While our team brings important experience and knowledge,
                            we know that each patient is the expert in their own life</p>
                    </div>
                </div>

                <div class="difference__item wow fadeInLeft" data-wow-duration="1s">
                    <h1 class="difference__item-number">02</h1>
                    <div class="difference__item-content">
                        <h1 class="difference__item-title">Comprehensive</h1>
                        <p class="difference__item-text">We offer comprehensive health care focusing on the whole
                            person, at all ages and stages of life</p>
                    </div>
                </div>

                <div class="difference__item wow fadeInLeft" data-wow-duration="1s">
                    <h1 class="difference__item-number">03</h1>
                    <div class="difference__item-content">
                        <h1 class="difference__item-title">New Technology</h1>
                        <p class="difference__item-text">We have flexible hours and are open on certain evenings and
                            during the weekend, to accommodate your schedule</p>
                    </div>
                </div>

                <div class="difference__item wow fadeInLeft" data-wow-duration="1s">
                    <h1 class="difference__item-number">04</h1>
                    <div class="difference__item-content">
                        <h1 class="difference__item-title">24 years experiens</h1>
                        <p class="difference__item-text">While our team brings important experience and knowledge,
                            we know that each patient is the expert in their own life</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End of .why-choose-us -->
{% endblock %}
