{% extends 'baseAdmin.html.twig' %}

{% block body %}

<div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <br><br> <br><br> <br><br> <br><br> <br><br>
<script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
<script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
<script type="text/javascript">
    {{ chart(chart) }}
</script>

{% endblock %}