{% extends 'base.html.twig' %}

{% block title %}New Coach{% endblock %}

{% block body %}
    <h1>Create new Coach</h1>

    {{ include('coach/_form.html.twig') }}

    <a href="{{ path('coach_index') }}">back to list</a>
{% endblock %}
