{% for type, messages in app.flashes %}
    {% for message in messages %}
    <div class="container mt-5">
      <div class="alert alert-{{ type }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>

        <div class="alert-message">
            {{ message | raw }}
        </div>
      </div>
    </div>
    
    {% endfor %}
{% endfor %}