{% extends 'baseAdmin.html.twig' %}
{% block title %}Edit Reclamation{% endblock %}


{% block body %}
    <h1>Modifier Reclamation</h1>
        <a>{{ include('reclamation/_form.html.twig', {'button_label':'Enregistrer'}) }}</a>
{% endblock %}
