{#  <form class="shop-sidebar__search">
    <input type="search" placeholder="Rechercher une Réservation ...">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

    #}

{{ form_start(form, { 'attr': {'class': 'shop-sidebar__search'} })}}
<button type="submit"><i class="fa fa-search"></i></button>
{{ form_end(form) }}