<!DOCTYPE html>

<title>New Abonnement</title>

{% block body %}
    <h1>Create new Abonnement</h1>

    {{ include('abonnement_controller_user/_form.html.twig') }}

    <a href="{{ path('abonnement_controller_user_index') }}">back to list</a>
{% endblock %}
