<!DOCTYPE html>

<title>Hello CheckoutController!</title>

{% block body %}
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Paiement
        </title>
    </head>
    <body>

    <div class="col-md-6 col-md-offset-3">
        <div id="alert-container">
            {# <div class="alert alert-danger" role="alert">
					<strong>
						<div id="card-errors" role="alert"></div>
					</strong>
				</div> #}
        </div>
        <form class="post" id="login-form">
            <div id="errors"></div>
            <!--contiendra les messages d'erreurs de payment-->
            <div class="form-group">
                <input type="text" id="cardholder-name" placeholder="titulaire de la carte" class="form-control is-valid">
            </div>
            <div class="form-group">
                <div id="card-elements" class="form-control is-invalid"></div>
                <!-- contiendra le formulaire de saisie des infocrmations de catre -->
            </div>
            <!-- conteindra les errors relative a la catre -->
            <button id="card-button" type="button" data-secret="{{ sk }}" class="btn btn-primary">
                proceder au paiement
            </button>
        </form>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/scripts.js"></script>

    </body>
    </html>
{% endblock %}
