{% extends 'baseAdmin.html.twig' %}

{% block title %}Edition d'un Régime{% endblock %}

{% block body %}
<main class="content">
	<div class="container-fluid p-0">
		<h1 class="h3 mb-3">Form Layouts</h1>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Basic form</h5>
						<h6 class="card-subtitle text-muted">Default Bootstrap form layout.</h6> </div>
					<div class="card-body">
                        {{ form(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}