{% extends 'baseAdmin.html.twig' %}

{% block title %}Edition d'un Régime{% endblock %}

{% block body %}
<main class="content">
	<div class="container-fluid p-0">
		<h1 class="h3 mb-3">Dashboard / Regime / Modifier</h1>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Formulaire de modification du regime : {{regime.type}}</h5>
					<div class="card-body">
                        {{ form(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}