{% extends 'baseAdmin.html.twig' %}

{% block title %}Nos Regime pour Vous{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1>Liste de Nos Regimes:</h1>
    <div class="row">
        {% for regime in regimes %}
            <div class="col-md-4 mt-2">
                <div class="card bg light mb-3">
                    <div class="card header text-center">
                        <strong>{{ regime.type }}</strong> <br>
                        <small>Pas encore noté</small>
                        <a href="">
                            <img src="/admin/img/regime/{{regime.image}}" alt="Image du Regime" style = "height: 300px; width: 100%; display: block">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="">
                                    {{ regime.description }}
                                </a>
                            </h4>
                            <p class="card-text">
                                
                            </p>
                            <a href="" class="btn btn-secondary">En savoir plus !</a>
                            <a href="" class="btn btn-secondary">Modifier regime</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
