{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Modifier Abonnement</h1>
        <div class="form-control">
            {{ include('abonnement/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
{% endblock %}
