<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Delicious Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/front/assets/img/favicon.png" rel="icon">
    <link href="/front/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/front/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/front/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/front/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/front/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/front/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/front/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/front/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Delicious - v4.1.0
    * Template URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <div class="logo me-auto">
            <h1><a href="index.html">MindSpace</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li class="dropdown"><a href="#"><span>Réclamation</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{path('reclamation_controller_user_new')}}">Passer Une Réclamation</a></li>
                        <li><a href="{{path('reclamation_controller_user_index')}}">Consulter Mes Réclamations</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Abonnement</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{path('abonnement_controller_user_index')}}">Achéter Un Abonnement</a></li>
                        <li><a href="#">Consulter Mes Abonnement Achétes</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a href="#book-a-table" class="book-a-table-btn scrollto">Login</a>

    </div>
</header><!-- End Header -->

<div class="wrapper">
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center fixed-top ">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
            <i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>
            <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>Mon-Sat: 11:00 AM - 23:00 PM</span></i>
        </div>
    </section>
    <section></section>
    <section>{% block body %}{% endblock %}</section>
</div>





<!-- Vendor JS Files -->
<script src="/front/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/front/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/front/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/front/assets/vendor/php-email-form/validate.js"></script>
<script src="/front/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/front/assets/js/main.js"></script>

</body>

</html>