# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\3A2\NetDev_Symfony\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
