{% extends 'base.html.twig' %}

{% block title %}Edit Membre{% endblock %}

{% block body %}

    <main class="content">
        <div class="container-fluid p-0">
            <h1 class="h3 mb-3">Coach</h1>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"></h5>
                            <h6 class="card-subtitle text-muted"></h6>
                        </div>
                        <div class="card-body">
                            <main class="content">
                                <main class="container-fluid p-0">
                                    <h1 class="h3 mb-3">Modifier Membre</h1>
                                    <div class="row">
                                        <div class="col-12 col-xl-6">
                                            <div class="card">
                                                <div class="card-header">
                                                </div>
                                                <div class="card-body">

                                                    {{ include('membre/_form.html.twig', {'button_label': 'Update'}) }}

                                                </div>

                                                <a href="{{ path('membre_index') }}" class="btn btn-secondary">profile</a>

                                            </div>
                                        </div>
                                    </div>
                                </main>
                        </div>
                    </div>
                </div>
    </main>

{% endblock %}
